<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table id="moviesTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>

<script>
  function compareValues(a, b) {
    return (a<b) ? -1 : (a>b) ? 1 : 0;
  }

  function sortTable(colnum) {
    let rows = Array.from(table.querySelectorAll(`tr`));
    rows = rows.slice(1);

    let qs = `td:nth-child(${colnum})`;

    rows.sort((r1,r2) => {
      let t1 = r1.querySelector(qs);
      let t2 = r2.querySelector(qs);
      return compareValues(t1.textContent,t2.textContent);
    });

    rows.forEach(row => table.appendChild(row));
  }

  table.querySelectorAll(`th`).forEach((th, position) => {
    th.addEventListener(`click`, evt => sortTable(position));
  });
</script>